/* Close icons
------------------------------------------------------- */

.close {
  .opacity(1);

  &:hover,
  &:focus {
    .opacity(.75);
  }
}

.pin-right.close {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
}