/* Grid system
------------------------------------------------------- */

.container-fluid {
  width: 100%;
  padding: 0 20px;

  @media (min-width: 900px) {
    width:83.3333%;
    max-width:1000px;  
    padding: 0;
  }
}

.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 { float: none; display:block; }

.row0  { height: 0px;}
.row1  { height: 20px;}
.row2  { height: 40px;}
.row3  { height: 60px;}
.row4  { height: 80px;}
.row5  { height: 100px;}
.row6  { height: 120px;}
.row7  { height: 160px;}
.row8  { height: 200px;}
.row9  { height: 240px;}
.row10 { height: 280px;}
.row11 { height: 320px;}
.row12 { height: 360px;}
.row13 { height: 400px;}
.row14 { height: 440px;}
.row15 { height: 480px;}
