.loader {
  width: 30px;
  height: 30px;
  .animation(rotate 2s linear infinite);
}

.spinner{
  background: url('../img/spinner.gif');
  display: inline-block;
  width:30px;
  height:30px;
}

.dark .spinner{ background: url('../img/spinner_dark.gif');}

.loader circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 1,200;
  .animation(dash 1.5s ease-in-out infinite, blues 6s ease-in-out infinite;);
}

.dark .loader circle {
  .animation(dash 1.5s ease-in-out infinite, grays 6s ease-in-out infinite;);
}

.keyframes(rotate; {
  100% { transform: rotate(360deg); }  
});

.keyframes(dash; {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -16;
  }

  100% {
    stroke-dashoffset: -62;
  }
});

.keyframes(blues; {
  0%, 100% { stroke: lighten(@fill-blue, 10%); }
  50% { stroke: @fill-turquoise; }
});

.keyframes(grays; {
  0%,100% { stroke: lighten(@fill-dark, 10%); }
  50% { stroke: @fill-quiet; }
});