.media {
  margin-top: 15px;
  overflow: hidden;
  &:first-child { margin-top: 0; }
}
.media-left, .media-body { display: table-cell; }
.media-left { float: left; }
.media-body {   
  overflow: hidden;
  zoom: 1;
  width: 10000px;
}
