/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 * Modified for Kabu
 */

.pika-single {
  z-index: @zindex-datepicker;
  width: 250px;

  &.is-bound { position: absolute; }

  .icon.is-disabled {
    cursor: default;
    opacity: .2;
  }

  .icon { cursor: pointer; }
}

.pika-label { text-transform: uppercase; }

.pika-title select { .opacity(0); }

.pika-table { 
  margin-bottom: 0; 

  th, td {
    text-align: center; 
    border: none; 
  }

  td { padding: 0; }
  th { padding: 4px 0; }
}

.pika-button { 
  padding: 4px 0; 
  color: @gray-dark;
  border-radius: 50%;

  &:hover {
    color: @dropdown-link-hover-color;
    background-color: @dropdown-link-hover-bg;
  }
}

.is-today .pika-button { font-weight: bold; }

.is-selected .pika-button {
  color: #fff;
  background: @brand-primary;
  border-radius: 50%;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: @text-muted;
  opacity: .3;
}