/* flat ui variables and mixins */
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* common files */
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  font-size: 14px;
  overflow-x: hidden;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
input,
button,
select,
textarea {
  font-size: 14px;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  border-radius: 2px;
}
.img-rounded {
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #3498db;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #2a7aaf;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
li {
  line-height: 20px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-wrapper,
.header-antiflicker,
body > header .header-background {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.nav-visible .page-wrapper,
.nav-visible .navbar.navbar-fixed-top,
.nav-visible .header-antiflicker,
.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.no-csstransitions .page-wrapper,
.no-csstransitions .header-antiflicker {
  left: 0;
}
.no-csstransitions.nav-visible .page-wrapper,
.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
img {
  -webkit-backface-visibility: hidden;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* custom blocks */
/* blank slate styles
--------------------------------------------- */
.blank-slate {
  position: relative;
  color: #bdc3c7;
  padding: 40px 20px;
  text-align: center;
  cursor: pointer;
}
.blank-slate > i {
  font-size: 240px;
  color: #ecf0f1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.blank-slate h3 {
  color: #bdc3c7;
  margin: 0 0 21px;
  font-size: 32px;
  font-weight: normal;
}
.blank-slate h3 + .lead {
  font-size: 16px;
  font-weight: normal;
  max-width: 22rem;
  margin: 0 auto 50px;
}
.blank-slate:hover i {
  color: inherit;
}
.cart > .row {
  margin-bottom: 36px;
}
.cart .cart-product img {
  max-width: 100px;
  float: left;
  margin-right: 10px;
}
.cart .cart-product h3 {
  font-size: 16px;
  margin-top: 0;
  display: inline;
}
.cart .cart-product .meta {
  display: block;
  margin-top: 4px;
}
.cart .cart-product .fui-cross-inverted {
  color: #bdc3c7;
  margin-left: 5px;
}
.cart .cart-quantity {
  text-align: center;
}
.cart .cart-quantity .ui-spinner-input {
  font-size: 1.17em;
}
.cart .cart-price .total {
  font-size: 20px;
  color: #34495e;
  float: right;
}
.cart .cart-totals {
  clear: both;
  position: relative;
}
.cart .cart-secondary-actions .btn {
  position: absolute;
  left: 15px;
}
.cart .cart-secondary-actions .btn.continue {
  bottom: 0;
}
.cart .cart-secondary-actions .btn.continue i {
  margin-left: -10px;
}
.cart .cart-secondary-actions .btn.coupon {
  top: 25%;
}
.cart .receipt {
  margin: 0;
  padding: 20px 0 0;
  list-style: none;
  border-top: 1px dotted #ccc;
}
.cart .receipt li {
  margin-bottom: 8px;
}
.cart .receipt li:last-child {
  margin-bottom: 0;
}
.cart .receipt p,
.cart .receipt span {
  font-size: 16px;
  line-height: 1.722169;
}
.cart .receipt p {
  display: inline-block;
  margin: 0;
}
.cart .receipt span {
  float: right;
}
.cart .receipt li.total {
  border-top: 1px dotted #ccc;
  padding-top: 20px;
  margin-top: 15px;
}
.cart .receipt li.total p,
.cart .receipt li.total span {
  font-size: 20px;
}
.cart .receipt li.total p {
  color: #34495e;
}
.cart .receipt li.total span {
  color: #1abc9c;
}
.cart .btn-primary {
  margin-top: 18px;
}
@media (max-width: 767px) {
  .cart .cart-quantity,
  .cart .cart-price {
    margin-top: 15px;
  }
  .cart .cart-product img {
    display: none;
  }
  .cart .cart-secondary-actions {
    padding: 0 15px;
  }
  .cart .cart-secondary-actions .btn {
    position: relative;
    left: inherit;
    display: block;
    margin-bottom: 15px;
  }
  .cart .receipt {
    margin-top: 30px;
  }
}
.comments {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comments > li {
  margin: 2em 0 2.5em;
}
.comments > li .avatar {
  float: left;
}
.comments .comment {
  position: relative;
  margin-left: 70px;
}
.comments .comment h3 {
  font-size: 1em;
  text-transform: lowercase;
  margin: 2px 0 4px;
  font-weight: bold;
}
.comments .comment p {
  font-size: 1em;
  line-height: 1.5;
  margin-top: .5em;
}
.comments .comment .metadata {
  position: absolute;
  top: 0px;
  right: 0;
  font-size: .85em;
  color: #bdc3c7;
  margin-top: -2px;
}
.comments .comment textarea {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1em;
}
/**
 * Contact Us stylesheet  
 * */
.contact-us {
  padding: 50px 0;
}
.contact-us h3 {
  font-size: 30px;
  margin: 0 0 15px;
  font-weight: 300px;
}
.contact-us h6 {
  margin: 9px 0 15px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
}
.contact-us p {
  font-size: 16px;
  line-height: 1.6;
}
.contact-us form {
  margin-top: 25px;
}
.contact-us .map {
  height: 255px;
  margin: 35px 0 60px;
  border-radius: 6px;
  overflow: hidden;
}
.contact-us .links {
  margin: 20px 0 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #ebedee;
}
.contact-us .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contact-us .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}
@media (max-width: 767px) {
  .contact-us > .container > .row > * + * {
    margin-top: 55px;
  }
}
/* project gallery styles
--------------------------------------------- */
.projects {
  list-style: none;
  padding: 0;
  margin: 0;
}
.projects:before,
.projects:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.projects:after {
  clear: both;
}
.projects > li {
  position: relative;
  float: left;
  padding: 0;
  width: 27%;
  margin: 0 9.5% 30px 0;
}
.projects > li:before,
.projects > li:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.projects > li:after {
  clear: both;
}
.projects > li:nth-child(3n) {
  margin-right: 0;
}
.projects .photo-wrapper {
  width: 100%;
  height: 150px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.projects .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 6px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 30;
  filter: alpha(opacity=3000);
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 150px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.projects .info {
  text-align: left;
  font-size: 14px;
  color: #95a5a6;
  margin-top: 25px;
  line-height: 1.4;
}
.projects .info b {
  color: #7f8c8d;
}
.projects .info h3 {
  color: #3498db;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}
.projects .project:hover {
  cursor: pointer;
}
.projects .project:hover .photo-wrapper {
  background-color: #3498db;
}
.projects .project:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
}
.projects .project:hover .overlay {
  opacity: 100;
  filter: alpha(opacity=10000);
}
@media (max-width: 480px) {
  .projects > li {
    width: 100%;
    margin-right: 0;
  }
}
.related-links {
  padding-bottom: 45px;
  position: relative;
  margin-top: 8px;
}
.related-links:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  border-top: 3px solid #3498db;
}
.related-links,
.related-links * {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #34495e;
}
.related-links > * + * {
  margin-top: 63px;
}
.related-links h6 {
  margin: 0 0 15px;
  text-transform: none;
}
.related-links a {
  color: #bdc3c7;
}
.related-links a:hover,
.related-links a:focus,
.related-links a.active {
  color: #979c9f;
}
.related-links ul,
.related-links ol {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.related-links li {
  display: block;
}
.related-links li + li {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .related-links {
    display: none;
  }
}
.share .avatar {
  width: 100%;
  height: auto;
}
.share .share-content {
  max-height: 200px;
  overflow-y: scroll;
}
.share .share-content h4 {
  font-size: 18px;
  margin-top: 0;
}
.share .share-content img {
  width: 100%;
}
.share .tagsinput {
  margin-bottom: 0;
}
@media (max-width: 480px) {
  .share img {
    display: none;
  }
  .share .share-content h4 {
    margin-bottom: 0;
  }
  .share .control-label {
    margin-bottom: 10px;
  }
}
.sidebar {
  background: #2c3e50;
  width: 240px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  color: #bdc3c7;
}
.sidebar header {
  height: 80px;
  padding: 20px;
  background: #34495e;
  color: #bdc3c7;
  position: relative;
}
.sidebar header .logo {
  z-index: 100;
  font-size: 24px;
  color: #bdc3c7;
  line-height: 41px;
  padding: 0;
  display: inline-block;
}
.sidebar header .iconbar-horizontal {
  height: 40px;
  margin: 0;
  background: rgba(0, 0, 0, 0.2);
}
.sidebar header .iconbar-horizontal > ul > li > a {
  padding: 10px;
  font-size: 18px;
}
.sidebar header .iconbar-horizontal > ul > li:first-child > a {
  padding: 10px;
}
.sidebar header .iconbar-horizontal .iconbar-unread {
  top: 4px;
  right: 0px;
}
.sidebar header .iconbar-horizontal > ul > li.user a {
  padding: 9px;
}
.sidebar header .iconbar-horizontal > ul > li.user .avatar {
  width: 20px;
  height: 20px;
}
.sidebar .form-search {
  margin-top: 1px;
  margin-bottom: 0;
  position: relative;
}
.sidebar .form-search input[type="text"] {
  background: transparent;
  border: 0;
  border-radius: 0px;
  padding: 18px 10px 15px 40px;
  margin: 0;
  width: 190px;
  color: whitesmoke;
  box-shadow: none;
  -webkit-transition: 0.15s linear background-color;
  transition: 0.15s linear background-color;
  font-size: 14px;
  width: 100%;
}
.sidebar .form-search input[type="text"]:focus {
  background: rgba(0, 0, 0, 0.2);
}
.sidebar .form-search .input-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}
.sidebar nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar nav > ul > li a {
  color: #bdc3c7;
  display: block;
  padding: 15px 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.sidebar nav > ul > li a > i {
  margin-right: 5px;
}
.sidebar nav > ul > li a:hover {
  color: #ecf0f1;
}
.sidebar nav > ul > li.active a {
  color: #fff;
  background: #3498db;
}
.sidebar nav > ul > li.settings {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 46px;
}
.sidebar nav > ul > li.settings a {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar nav > ul > li.minimize {
  bottom: 0;
  position: absolute;
  right: 0;
}
.sidebar nav > ul > li.minimize a {
  padding-right: 10px;
  padding-left: 15px;
  cursor: pointer;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar .actions {
  margin: 20px;
}
.sidebar.collapsed {
  width: 80px;
}
.sidebar.collapsed .iconbar-horizontal,
.sidebar.collapsed .form-search,
.sidebar.collapsed nav > ul > li > a span,
.sidebar.collapsed .actions {
  display: none;
}
.sidebar.collapsed header .logo {
  display: block;
  text-align: center;
}
.sidebar.collapsed nav > ul > li a > i {
  font-size: 18px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.sidebar.collapsed nav > ul > li a > i.fui-document {
  margin-left: 2px;
}
.sidebar.collapsed nav > ul > li.settings {
  right: 40px;
}
.sidebar.collapsed nav > ul > li.minimize {
  left: 40px;
}
.sidebar.collapsed nav > ul > li.settings a,
.sidebar.collapsed nav > ul > li.minimize a {
  padding: 15px 0;
}
.sidebar.collapsed nav > ul > li.settings a > i,
.sidebar.collapsed nav > ul > li.minimize a > i {
  font-size: 14px;
}
@media (max-width: 480px) {
  .sidebar .iconbar-horizontal {
    width: auto;
  }
}
table.top-100 > tbody > tr > td {
  border: none;
  padding: 10px 25px;
}
table.top-100 > tbody > tr > td.position {
  width: 4.5%;
  padding-right: 0;
}
table.top-100 > tbody > tr > td.value {
  width: 50%;
}
table.top-100 .btn-play {
  color: #fff;
  vertical-align: inherit;
  font-size: 9px;
  margin-top: -3px;
  margin-right: 15px;
  position: inherit;
  padding-top: 6px;
}
table.top-100 .bar {
  height: 21px;
  line-height: 21px;
  background: #3498db;
  border-radius: 6px;
}
table.top-100 .bar span {
  margin-left: 10px;
  color: #fff;
  font-size: 13px;
  display: block;
}
.btn-play {
  background-color: #2c81ba;
  color: #fff;
  width: 24px;
  height: 24px;
  padding: 1px 0 0 3px;
  font-size: 9px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -3px;
  margin-right: 15px;
}
.player {
  border-radius: 6px;
  width: 220px;
}
.player .btn-play,
.player .play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  margin: -20px 0 0 -30px;
  padding-left: 16px;
  background-color: #2c81ba;
  border-radius: 3px;
}
.player .btn-play:hover,
.player .play:hover,
.player .btn-play:focus,
.player .play:focus {
  background-color: #569ac8;
}
.player .btn-play:active,
.player .play:active,
.player .btn-play.active,
.player .play.active {
  background-color: #266e9e;
}
.player > iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
.videos:before,
.videos:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.videos:after {
  clear: both;
}
.videos .video-box {
  float: left;
  width: 33%;
}
@media (max-width: 767px) {
  .videos .video-box {
    text-align: center;
  }
}
.videos .video-box > * {
  display: inline-block;
  vertical-align: middle;
}
.videos .player {
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 70px;
  margin: 0 20px 0 0;
  background: #ecf0f1;
}
@media (max-width: 767px) {
  .videos .player {
    margin: 0 0 10px 0;
  }
}
.videos .player .btn-play {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 34px;
  height: 34px;
  margin: -17px 0 0 -17px;
  padding: 6px 0 0 3px;
  border-radius: 50%;
  border: 4px solid #fff;
  font-size: 10px;
}
.videos .player .btn-play:hover,
.videos .player .btn-play:focus {
  background-color: transparent;
  border-color: #3498db;
  color: #3498db;
}
.videos .video-box.active .player {
  background: #3498db;
}
.videos .video-box.active .player .btn-play {
  background-color: #3498db;
}
.videos .video-box.active .player .btn-play:hover,
.videos .video-box.active .player .btn-play:focus {
  background-color: #5dade2;
}
.videos .video-box.active .player .btn-play:active,
.videos .video-box.active .player .btn-play.active {
  background-color: #2c81ba;
}
.videos .video-box.active .player .btn-play:hover,
.videos .video-box.active .player .btn-play:focus {
  background-color: #5dade2;
  border-color: white;
  color: white;
}
.videos .description {
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
  font-weight: 500;
}
@media (max-width: 767px) {
  .videos .description {
    display: block;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .videos .description {
    display: block;
    margin-top: 5px;
  }
}
@media (max-width: 480px) {
  .videos .video-box {
    float: none;
    width: auto;
    text-align: left;
  }
  .videos .video-box > * {
    display: inline-block;
  }
  .videos .player {
    margin: 0 26px 20px 0;
  }
  .videos .description {
    margin-top: -20px;
  }
}
.ribbon {
  display: block;
  position: relative;
  margin: 0;
  padding: 0 10px!important;
  background: #e74c3c;
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}
.ribbon:before,
.ribbon:after {
  display: block;
  position: absolute;
  line-height: 0;
}
.ribbon:before {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAgCAYAAADe+2JdAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAIcbAACL/wAA/RMAAIWJAACNJgAA5z0AADj/AAAeyY4zee8AAACLSURBVHja7M6xCcIAEAXQZwwpJI0W6V3AVgdwKrF3CWdwAhFcIjhDKiGCoDGxSVAxyQT5zcG94+5G+X4GS+zqOlEnxAKn72aTANs2aHCtIwGmfWjAAfsxhPIWeaSJVxaris98WN4i9/Nc9Rz/r32kSStA8Mri7oeqIsj7vj324QbXLrxghQN+TrwHABFIH/AzT59nAAAAAElFTkSuQmCC');
  left: -7px;
  bottom: 0;
}
.ribbon:after {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAIcbAACL/wAA/RMAAIWJAACNJgAA5z0AADj/AAAeyY4zee8AAACMSURBVHja7MwxDoJAFIThf9fVAo2x4A5cwprKytPY2HoJS6/hCbwBoaKi0WxYoyYg+ywICQK9jdPNl/dG5Zu1AA44Azsg1TRZAlvgAkQttlkBhz4CxGO4GEP++Cs0yc2ilWI+NYRBwGyim0svwr2syApHWdff716E6/M13HxUbztAL3I0nW6BE7D/DADKLyXavmqdkAAAAABJRU5ErkJggg==');
  right: -5px;
  top: 0;
}
/**
 * Price 1 stylesheet  
 * */
.price-1 .plan {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #ebedee;
  padding: 25px 0;
  border-radius: 4px;
  text-align: center;
  color: #bdc3c7;
  font-size: 18px;
  font-weight: normal;
}
.price-1 .plan > * {
  padding-left: 10px;
  padding-right: 10px;
}
.price-1 .plan b {
  color: #7f8c8d;
}
.price-1 .plan .title {
  color: #2c3e50;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
.price-1 .plan .description {
  margin: 26px 0;
  padding-top: 22px;
  border-top: 2px solid #ebedee;
  line-height: 28px;
  font-weight: normal;
}
.price-1 .plan .description b {
  font-weight: 500;
}
.price-1 .plan .btn {
  min-width: 170px;
}
.price-1 .ribbon {
  position: absolute;
  right: -3px;
  top: 26px;
}
@media (max-width: 991px) {
  .price-1 .ribbon {
    top: 4px;
  }
}
@media (max-width: 767px) {
  .price-1 .ribbon {
    top: 26px;
  }
}
@media (max-width: 767px) {
  .price-1 .plan {
    margin-top: 30px;
  }
  .price-1 .col-sm-4:first-child .plan {
    margin-top: 0;
  }
}
/**
 * Price 2 stylesheet  
 * */
.price-2 .plans {
  display: table;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #e5e5e5;
  border-top: 0;
  border-radius: 4px;
}
.price-2 .plans .plan {
  display: table-cell;
  width: 33.33%;
  text-align: center;
}
.price-2 .plans .plan .ribbon {
  position: absolute;
  right: -1px;
  top: 47px;
  z-index: 2;
}
@media (max-width: 991px) {
  .price-2 .plans .plan .ribbon {
    top: 20px;
  }
}
@media (max-width: 767px) {
  .price-2 .plans .plan .ribbon {
    top: 50px;
  }
}
.price-2 .plans .title {
  padding: 55px 0 55px;
  background: #34495e;
  color: #fff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: nowrap;
  position: relative;
}
.price-2 .plans .title .price {
  margin: 10px 0 13px;
  font-size: 100px;
  font-weight: 500;
}
.price-2 .plans .title .price .currency {
  font-size: 24px;
  vertical-align: top;
  position: relative;
  font-weight: 400;
  top: 26px;
  left: -10px;
  opacity: 50;
  filter: alpha(opacity=5000);
}
.price-2 .plans .title .price .period {
  font-size: 12px;
  vertical-align: bottom;
  position: relative;
  top: -27px;
  left: 10px;
  opacity: 50;
  filter: alpha(opacity=5000);
}
.price-2 .plans .title .btn.btn-clear {
  padding: 6px 12px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;
  background: transparent;
  opacity: 50;
  filter: alpha(opacity=5000);
  font-weight: 500;
}
.price-2 .plans .title .btn.btn-clear:hover,
.price-2 .plans .title .btn.btn-clear:focus {
  border-color: #fff;
  color: #fff;
  opacity: 100;
  filter: alpha(opacity=10000);
}
.price-2 .plans .title .btn.btn-clear:active,
.price-2 .plans .title .btn.btn-clear.active {
  border-color: #fff;
  color: #fff;
  opacity: 30;
  filter: alpha(opacity=3000);
}
.price-2 .plans .plan:first-child .title {
  margin-left: -3px;
  border-top-left-radius: 6px;
}
.price-2 .plans .plan:last-child .title {
  margin-right: -3px;
  border-top-right-radius: 6px;
}
.price-2 .plans .description {
  padding: 27px 40px;
  font-size: 18px;
  color: #bdc3c7;
}
.price-2 .plans .description b {
  color: #7f8c8d;
  font-weight: 500;
}
.price-2 .plans .description .description-box {
  text-align: left;
  padding: 13px 0;
  border-top: 2px solid #ebedee;
}
.price-2 .plans .description .description-box:first-child {
  border-top: 0;
}
.price-2 .plans .description .description-box [class*="fui-"] {
  margin-right: 15px;
  font-size: 24px;
  vertical-align: middle;
  color: rgba(52, 73, 94, 0.2);
}
.price-2 .plans .plan-2 {
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.price-2 .plans .plan-2 .title {
  margin: 0 -2px;
  border-left: 2px solid #2f4254;
  border-right: 2px solid #2f4254;
  z-index: 3;
}
@media (max-width: 767px) {
  .price-2 .plans {
    display: block;
    width: auto;
    border: 0;
    border-radius: 0;
  }
  .price-2 .plans .plan {
    display: block;
    width: auto;
    border: 0!important;
    margin-top: 50px;
  }
  .price-2 .plans .plan:first-child {
    margin-top: 0;
  }
  .price-2 .plans .title {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin: 0!important;
  }
  .price-2 .plans .description {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 3px solid #e5e5e5;
    border-top: 0;
  }
  .price-2 .plans .plan-2 .ribbon {
    right: 0;
  }
}
.progress-steps {
  position: relative;
  padding-top: 15px;
  padding-bottom: 48px;
}
.progress-steps .progress {
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.progress-steps .progress .bar {
  background: #2980b9;
}
.progress-steps ol.steps {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.progress-steps ol.steps li {
  box-sizing: border-box;
  position: absolute;
  top: -27px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  font-size: 12px;
  padding: 4px 0 0 7px;
  border-radius: 50%;
  background-color: #ebedef;
  border: 7px solid #ebedef;
  color: #ebedef;
}
.progress-steps ol.steps li h3 {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  margin: 26px 0 0 -94px;
  width: 200px;
  text-align: center;
  color: #bdc3c7;
}
.progress-steps ol.steps li.step-complete,
.progress-steps ol.steps li.step-active {
  border: 7px solid #2980b9;
  background-color: #fff;
  color: #2980b9;
}
.progress-steps ol.steps li.step-complete h3,
.progress-steps ol.steps li.step-active h3 {
  color: #2c3e50;
}
@media (max-width: 767px) {
  .progress-steps ol.steps h3 {
    display: none;
  }
  .progress-steps ol.steps li.step-active h3 {
    display: block;
  }
}
.progress-steps ol.steps li.step-1 {
  margin-left: 0;
}
.progress-steps ol.steps li.step-1 h3 {
  text-align: left;
  margin-left: -13px;
}
.progress-steps.two-steps li.step-2 {
  right: 0;
}
.progress-steps.two-steps .progress .step-2 {
  width: 100%;
}
.progress-steps.two-steps li.step-2 h3 {
  text-align: right;
  margin-left: -174px;
}
.progress-steps.three-steps li.step-2 {
  left: 50%;
}
.progress-steps.three-steps li.step-3 {
  right: 0;
}
.progress-steps.three-steps .progress .step-2 {
  width: 50%;
}
.progress-steps.three-steps .progress .step-3 {
  width: 100%;
}
.progress-steps.three-steps li.step-3 h3 {
  text-align: right;
  margin-left: -174px;
}
.progress-steps.four-steps li.step-2 {
  left: 33.3333333%;
}
.progress-steps.four-steps li.step-3 {
  right: 33.3333333%;
}
.progress-steps.four-steps li.step-4 {
  right: 0;
}
.progress-steps.four-steps .progress .step-2 {
  width: 33.3333333%;
}
.progress-steps.four-steps .progress .step-3 {
  width: 66%;
}
.progress-steps.four-steps .progress .step-4 {
  width: 100%;
}
.progress-steps.four-steps li.step-4 h3 {
  text-align: right;
  margin-left: -174px;
}
.progress-steps.five-steps li.step-2 {
  left: 25%;
}
.progress-steps.five-steps li.step-3 {
  left: 50%;
}
.progress-steps.five-steps li.step-4 {
  left: 75%;
}
.progress-steps.five-steps li.step-5 {
  right: 0;
}
.progress-steps.five-steps .progress .step-2 {
  width: 25%;
}
.progress-steps.five-steps .progress .step-3 {
  width: 50%;
}
.progress-steps.five-steps .progress .step-4 {
  width: 75%;
}
.progress-steps.five-steps .progress .step-5 {
  width: 100%;
}
.progress-steps.five-steps li.step-5 h3 {
  text-align: right;
  margin-left: -174px;
}
