/* Site styles
------------------------------------------------------- */

body { padding-top: 60px; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;  
}

.sidenav {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 100%;  
}

.sidenav .container-fluid,
.sidenav .col-sm-3 { height: 100%; }

.sidenav nav {
  position: absolute;
  left: 0;
  top: 20px;
  right: 20px;
  bottom: 20px;
}

.sidenav .active {
  color: #404040;
  color: rgba(0,0,0,0.75);
}

.scroll-styled { overflow: auto; }

.quiet-scroll::-webkit-scrollbar-track {
  background: none;
}

.quiet-scroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 0;
}

.quiet-scroll::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  border-left: 0;
  background: rgba(0,0,0,0.1);
}

.prettyprint {
  background: #fff;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-radius: 0;
  padding: 20px;
}

.btn.zeroclipboard-is-hover { background:#3bb2d0!important; }
.js-clipboard:hover { cursor:pointer; }


/* Responsive styles
------------------------------------------------------- */

@media (max-width:767px) {
  body.fill-light { background: #fff; }
  .sidenav + .container-fluid { padding: 0; }
  .sidenav + .container-fluid > .pad2y { padding: 0; }
  .sidenav + .container-fluid .box { border: none; }
}


/* Visualization styles */

.outline { 
  fill: #bfbfbf;
  stroke: #fff;
  stroke-linejoin: round;
}
.outline .active { fill: #FB896B; }
.zoom {
  fill: none;
  pointer-events: all;
}
.outline .zoom + g path { cursor: pointer; }
.bubble {
  fill: #3887be;
  stroke: none;
  opacity: 0.8;
}
.bubble:hover { fill: #3bb2d0; }

/* Quantized scale */
.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }
