/* Site styles
------------------------------------------------------- */

body { padding-top: 60px; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;  
}

.sidenav {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 100%;  
}

.sidenav .container-fluid,
.sidenav .col-sm-3 { height: 100%; }

.sidenav nav {
  position: absolute;
  left: 0;
  top: 20px;
  right: 20px;
  bottom: 20px;
}

.sidenav .active {
  color: #404040;
  color: rgba(0,0,0,0.75);
}

.scroll-styled { overflow: auto; }

.quiet-scroll::-webkit-scrollbar-track {
  background: none;
}

.quiet-scroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 0;
}

.quiet-scroll::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  border-left: 0;
  background: rgba(0,0,0,0.1);
}

.prettyprint {
  background: #fff;
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-radius: 0;
  padding: 20px;
}

.btn.zeroclipboard-is-hover { background:#3bb2d0!important; }
.js-clipboard:hover { cursor:pointer; }


/* Responsive styles
------------------------------------------------------- */

@media (max-width:767px) {
  body.fill-light { background: #fff; }
  .sidenav + .container-fluid { padding: 0; }
  .sidenav + .container-fluid > .pad2y { padding: 0; }
  .sidenav + .container-fluid .box { border: none; }
}