.toggle-bg {
  padding: 14px;

  .fui-power {
    font-size: 20px;
  }
}

#sg-icons {
  
  .row > div {
    margin-bottom: 30px;
  }

  .thumbnail {
    background: @base;
    color: @silver;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 32px;
    line-height: 1.48;
  }

  .custom-icons .thumbnail {
    padding: 13%;
  }

  .thumbnail + p {
    margin: 8px 0 0;
    font-size: 12px;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: .1em;
    white-space: nowrap;    
  }

  .custom-icons p {
    margin-top: 12px;
    font-size: 14px;
    white-space: nowrap;
  }

  &.bg-clouds .thumbnail {
    background: #fff;
    color: inherit;
  }

  .compass {
    margin-bottom: 1px; 
  }

  // @media (min-width: 768px) and (max-width: 979px) {
  //   .thumbnail {
  //     font-size: 1.8em;
  //   }
  // }

  @media (max-width: 430px) {
    .thumbnail {
      padding: 4px;
    }
  }

  @media (max-width: 440px) {
    .custom-icons img {
      height: 75px;
    }
  }

  @media (min-width: 441px) and (max-width: @screen-xs-max) {
    .custom-icons img {
      height: 100px;
    }
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .custom-icons img {
      height: 65px;
    }
  }
  
  @media (min-width: @screen-md-min) {
    .custom-icons img {
      height: 100px;
    }    
  }

  @media (max-width: 351px) {
    .thumbnails {
      margin-bottom: 0;

      > li {
        width: 50px;
        display: inline-block;
        margin: 8px 5px 8px;

        .thumbnail {
          font-size: 25px;
          padding: 5px;

          > img {
            max-height: 37px;
          }
        }
      }

      p {
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}