@import '../framework/flat-ui/less/config.less';
@import '../framework/flat-ui/less/mixins.less';
/*only fo flat-ui free*/ @import '../framework/common-files/less/flat-ui-free2.0.0-fix.less'; /* end only for flat-ui free*/
@import '../framework/common-files/less/mixins.less';
@import '../framework/common-files/less/common.less';
@import '../framework/common-files/less/navbar.less';
@import '../framework/common-files/less/helper.less';

/* header */
@import 'ui-kit/ui-kit-header/less/header-2.less';

/* content */
@import 'ui-kit/ui-kit-content/less/content-3.less';
@import 'ui-kit/ui-kit-content/less/content-10.less';
@import 'ui-kit/ui-kit-content/less/content-11.less';
@import 'ui-kit/ui-kit-content/less/content-23.less';
@import 'ui-kit/ui-kit-content/less/content-31.less';

/* footer */
@import 'ui-kit/ui-kit-footer/less/footer-3.less';

/* local */
@import 'subnav.less';
@import 'swatch.less';
@import 'icons.less';
@import 'components.less';
@import 'examples.less';
@import 'ui-kit/ui-kit-content/less/content-7.less';
@import 'ui-kit/ui-kit-content/less/content-14.less';


.header-2 .navbar {
  //top: 25px;
  top: 0;
  margin-bottom: 0;

  .brand {
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    letter-spacing: .8px;    
  }

  .nav > li a {
    font-weight: 300;
  }

  .nav > li.active a {
    font-weight: 500;
  }
}

.header-2-sub {
  padding-top: 165px;
}

.header-2-sub .hero-unit h1 {
  max-width: 550px;
  margin: 0 auto 18px;
}

.header-2-sub-collapsed {
  padding-bottom: 0;
  padding-top: 79px;
}

.content-10 {
  padding-top: 100px;
  padding-bottom: 80px;
}

.content-10 h3,
.content-3 h3,
.content-11 {
  font-weight: normal;
}

body > section {
  &.v-center {
    > div {
      padding-top: 200px;
      padding-bottom: 200px;
      @media (max-width: 768px) {
        padding-top: 90px;
        padding-bottom: 90px;
      }
    }
  }
}

.content-3.bg-clouds .delimiter{
  border-color: rgba(189, 195, 199, 0.4);
}

.content-3 .features {
  text-align: center;

  img {
    height: 100px;
  }

  h6 {
    margin-top: 37px;
    margin-bottom: 10px;
    font-size: 18px;  
  }

  @media (max-width: 767px) {
    [class*="span"] {
      margin-top: 50px;

      h6 {
        margin-top: 20px;
      }
    }
  }
}

.content-23{
  background-color: @midnight-blue;
  background-position: 50% 50%;
  background-repeat:no-repeat;
  background-attachment: fixed; 

  &.custom-bg {
    background-image: url('../img/atlanta4.jpg');
  }

  &.process {
    background-image: url('../img/macbook-and-sketch.jpg');
  }

  &.v-center > div {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (max-width: 768px) { 
    background-image: none !important;
  }  
}

.content-11 {
  background: #fff;
  padding-top: 150px;
  padding-bottom: 150px;
}

.device-frame {
  background: url('../img/iphone.png') no-repeat;
  margin: 0 auto;
  width: 311px;
  height: 642px;
  padding: 90px 23px 90px 25px;
  .box-sizing(border-box);

  .image-holder {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: left;
    
    img {
      position: absolute;
      width: 100%;
      .border-radius(4px);
    }
  }

  @media (max-width: 351px) {
    margin: 0 -20px;
  }
}

.ipad-frame {
  background: url('../img/ipad.png') no-repeat;
  margin: 0 auto;
  width: 500px;
  height: 653px;
  background-size: 500px 653px;
  padding: 62px 52px 60px 52px;
  .box-sizing(border-box);

  .ipad-screenshot {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: left;
    border: 4px solid #fff;
    border-color: @wet-asphalt;
    .box-sizing(border-box);

    img {
      position: absolute;
      width: 100%;
    }
  }

  @media (min-width: 980px) and (max-width: 1199px) {
    width: 460px;
    height: 600px;
    background-size: 460px 600px;
    padding: 58px 48px 56px 48px;
  }

  @media (max-width: 768px) {
    width: 352px;
    height: 459px;
    background-size: 352px 459px;
    padding: 44px 37px 42px 37px;
  }

  @media (max-width: 351px) {
    margin: 0 -20px;
  }
}


@media (max-width: 979px) and (min-width: 768px) {
  .content-10 .carousel {
    margin-left: -90px;
  }
}






/* old styles */



/* bootstrap override */

.form-actions {
  margin-left: -20px;
  margin-right: -20px;  

  .btn-wide {
    padding-left: 70px;
    padding-right: 70px;
  }
}

/* flat-ui overrides */

.alert-error {
  text-align: center;
  border-color: #eed3d7;
  background: rgba(218, 77, 15, 0.1);

  h3 {
    margin: 0 0 8px 0;
    padding: 0;
    color: @danger;
    font-size: 20px;
    font-weight: bold;
  }

  em {
    color: @danger;
    font-style: normal;
    font-weight: bold;
  }
}

/* general styles */

section.centered {
  padding: 120px 20px;
  clear: both;
  text-align: center;

  h3 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 35px;
  }

  .lead {
    max-width: 36rem;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: normal;
    font-size: 16px;
  }

  &.bg-midnight-blue {
    h3 {
      color: #fff;
    }

    .lead {
      color: @silver;
      font-weight: 300;
    }
  }

  a.toggle-bg {
    color: inherit;

    &:hover {
      color: @gray;
    }
  }

  &.clear {
    padding: 0;
    text-align: inherit;
  }
}

.content-14 {
  padding: 60px 20px 200px 20px;
  text-align: left;

  .features {
    h6 {
      color: #34495e;
    }

    @media (min-width: 481px) {
      .box-1 {
        .animation-delay(2s);

        img {
          left: 126%;
          top: 67%;
        }
      }

      .box-2 {
        .animation-delay(4s);

        img {
          left: 126%;
          top: 50%;
        }
      }

      .box-5 {
        .animation-delay(1s);

        img {
          right: 126%;
          top: 17%;
        }
      }

      .box-6 {
        .animation-delay(3s);

        img {
          right: 126%;
          top: 9%;
        }
      }
    }

    @media (min-width: 980px) and (max-width: 1199px) {
      .box-1, .box-5 { top: 85px; }
      .box-2, .box-6 { top: 348px; }
      .box-1 img, .box-2 img { left: 104%; }
      .box-5 img, .box-6 img { right: 104%; }

      .box-1 img { top: 74%; }
      .box-2 img { top: 39%; }
      .box-5 img { top: 23%; }
      .box-6 img { top: 7%; }
    }

    @media (max-width: 768px) {
      .box-1 img, .box-2 img { left: 112%; }
      .box-5 img, .box-6 img { right: 112%; }
      
      .box-1 { 
        top: 0; 
        img {
          top: 75%;
        }
      }

      .box-2 {
        top: 253px;
        img { 
          top: 27%;
        }
      }

      .box-5 {
        top: -25px;
        img {
          top: 51%;
        }
      }

      .box-6 {
        top: 253px;
        img {
          top: 9%;
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 60px 20px 150px 20px;
    .features {
      margin-top: 15px;
    }
  }
}

.content-31 {
  .ticket img {
    margin-top: 30px;
  }

  #pt-2 .pt-controls {
    bottom: 195px;
  }

  @media (max-width: 768px) {
    .container > * {  
      .opacity(100);
    }
  }
}

#sg-guidelines {
  .control-btn {
    width: 53px; height: 53px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    background: #121518; //should be change to color variable
    position: absolute;
    left: 50%; bottom: 90px;
    margin-left: -26.5px;  
    .font(19px);
    .line-height(53px);
    .a-color(white, white);
    .opacity(30);  
    
    &:hover,
    &:focus,
    &:active,
    &.active {
      .opacity(100);
    }
    
    @media (max-width: 480px) {
      bottom: 30px;
    }
  }
}

#sg-typography > .container > h6 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 20px;
}

#sg-icons h3 {
  position: relative;

  sup {
    position: absolute;
    top: 8px;    
    padding-left: 8px;
    color: #7f8c8d;
  }
}

#download {
  visibility: hidden;
}

#sg-resources {
  padding: 100px 20px;  

  img {
    height: 104px;
    width: 82px;    
  }

  .demo-download {
    background-color: #fff;
    height: 120px;
    margin: 0 auto 32px;
    padding: 40px 28px 30px 32px;
    width: 130px;
    .border-radius(50%);
  }

  .btn-primary {
    width: 220px;
    margin: 0 auto;
  }
}

/* misc */

.pull-right {
  float: right;
}

.subheading {
  margin-top: 80px;
}

.bg-light-gray {
  background-color: #f8f8f8;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-ubold {
  font-weight: 900;
}

.f-1 {
  font-size: 40px;
}

.f-2 {
  font-size: 32px;
}

.f-3 {
  font-size: 28px;
}

.f-4 {
  font-size: 20px;
}

.f-5 {
  font-size: 18px;
}

.f-6 {
  font-size: 14px;
}

.mbxl {
  margin-bottom: 42px !important;
}

.clear {
  clear: both;
}

.fade-in {
  opacity: 0;
  .animation(fadein 0.5s ease-in 1 forwards);
}

/* fade in */

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadein { /* Firefox */
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from { opacity: 0; }
  to { opacity: 1; }
}
@-o-keyframes fadein { /* Opera */
  from { opacity: 0.3; }
  to { opacity: 1; }
}
